<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MyApp</title>
    </head>
    <body>
        <h1>whatever</h1>
        <p>that's a paragraph</p>
        <p><a href="yabdga">Check out the list</a></p>
        <hr />
        <p>Also try a form:</p>
        <form method="post">
            <table><tbody>
            <tr>
                <td class="wider"><label for="first_name">First name:</label></td>
                <td><input type="text" name="first_name"></td>
            </tr>
            <tr>
                <td class="wider"><label for="last_name">Last name:</label></td>
                <td><input type="text" name="last_name"></td>
            </tr>
            <tr>
                <td class="wider"><label for="city">City:</label></td>
                <td><input type="text" name="city"></td>
            </tr>
            <tr>
                <td class="wider"><label for="address">Address:</label></td>
                <td><input type="text" name="address"></td>
            </tr>
            <tr>
                <td colspan="2" class="center"><input type="submit"></td>
            </tr>
            </tbody></table>
        </form>
    </body>
</html>